body {
    background: linear-gradient(to top, rgb(185, 101, 185), skyblue, white) ;
}

p { 
    font-family: 'Caveat', cursive;
    color: rgb(99, 46, 136);
    font-size: 25px;
    text-align: center;
}
button {
    font-size: 20px;
    background: linear-gradient(to right, red,orange,yellow,green,blue);
}
.join > a, .login > a {
    display: block;
    width: 80%;
    margin: 0 auto;
    border:10px dotted blueviolet;
    padding: 0px 0;
    box-shadow: 0px 10px 20px rgb(43, 41, 41);
}   
footer a{
    color: rgb(250, 129, 85);
}

.dashed
{
    box-shadow: 0px 20px 10px rgb(0, 0, 0);
}

i {
    background-color: plum;
}