/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
*
* End of CSS Reset 
*
*/

@-webkit-keyframes vroom {
  from {: url(images/theclubhouse.png);}
  to {: url(https://enacademic.com/pictures/enwiki/49/1968ChevroletCamaroZ28.png)}
    12.5% {left: 30%;}
    25% {left: 50%;}
    37.5% {left: -30%;}
    50% {left: -50%;}
    62.5% {left: -75%;}
    75% {left: -90%;}
}

/* Standard syntax */
@keyframes vroom {
  from {background-image: url(images/theclubhouse.png);}
  to {background-image: url(https://enacademic.com/pictures/enwiki/49/1968ChevroletCamaroZ28.png); }
    12.5% {left: 30%;}
    25% {left: 50%;}
    37.5% {left: -30%;}
    50% {left: -50%;}
    62.5% {left: -75%;}
    75% {left: -90%;}
}

@-web

@font-face {
    font-family: 'league-gothic';
    src: 'fonts/League-Gothic/LeagueGothic-CondensedRegular.otf';
}
body {
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial Narrow, sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-variant: small-caps;
    line-height: 1.3;
    background-image: url(https://image.shutterstock.com/z/stock-vector-colorful-vector-seamless-vintage-wavy-pattern-in-mid-century-style-518081149.jpg);
    color: #774836;

}
p {
    text-align: justify;
}
a {
    text-decoration: none;
}
a:hover, button:hover {
    cursor: pointer;
}
main {
    margin-bottom: 30px;
    padding-bottom: 50px;
    width: 80%;
    height:1500px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #F3CDA9;
    padding:50px;
}
section {
    margin-top: 30px;
}
footer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    clear: both;
    background-color: #537479;
   
}
footer p {
    text-align: center;
}
footer a {
    color: black;
}
p + p {
    margin-top: 30px;
}
img {
    max-width: 250px;
    display: block;
    margin: 40px auto;
    

}
button {
    font-family: 'league-gothic', 'Open Sans';
    font-weight: bold;
    font-size: 40px;
    background-position: center fill;
    background-size: 100%;
    /*background-image: url(http://pluspng.com/img-png/black-and-white-flag-png-black-and-white-chequered-flag-500.png);*/
    margin: 0 auto;
    display: block;
    width: 100%;
    background-color: #537479;
}
@media(max-width: 400px) {
    button {
        font-size: 24px;
    }
}

i {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 100px;
    font-size: 16px;
}
.join {
    float: left;
    width: 50%;
    font-family: marker, fantasy;
    color:#774836;
    -webkit-animation-name: vroom;
    animation-name: vroom;
    animation-delay: 1.5s;
    animation-duration: 6s;
}
.login {
    float: right;
    width: 50%;
    font-family: marker, fantasy;
    color:#774836;
    -webkit-animation-name: vroom;
    animation-name: vroom;
    animation-delay: 1.5s;
    animation-duration: 6s;

}
.join > a, .login > a {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1rem solid #EE592E;
    padding: 40px 0;
}

.dashed {
    display: block;
    width: 100%;
    margin-top: 250px;
}

.join a {
    margin: 0 auto 30px 0;
}
.login a {
    margin: 0 0 30px auto;
}

.soc-media {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}